@model IEnumerable<AbcPeople.BDO.Entities.WorkExperience>

<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileInfo">Info</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ProfileWorkExperiences">Werkervaringen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCompetencies">Competenties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileEducations">Opleidingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCV">CV</a>
    </li>
</ul>

<div class="container">
    <div class="d-flex justify-content-between mt-2">
        <h5>Werkervaringen</h5>
        <a href="/Employee/EditWorkExperience" class="btn btn-primary rounded float-right border-dark">
            <i class="fas fa-plus"></i> Nieuwe werkervaring
        </a>
    </div>
    @{
        int counter1 = 0;
        int counter2 = 1;
        foreach (var workExperience in Model)
        {
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link active" href="@(true?"#menu"+counter1:"")" data-toggle="tab">NL</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@(true?"#menu"+counter2:"")" data-toggle="tab">EN</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="@(true ? $"menu{counter1}":"")" class="tab-pane active">
                        <div class="container">
                            <p>Van @workExperience.StartDate.ToString("dd/MM/yyyy") tot @(workExperience.EndDate != null ? workExperience.EndDate?.ToString("dd/MM/yyyy") : "Heden")</p>
                            <p class="float-right">@workExperience.CompanyName</p>
                            <br />
                            <p class="float-right">Overheid en publieke sector !!!!</p>

                            <table class="table table-striped table-condensed">
                                <tr>
                                    <td>Project</td>
                                    <td>@workExperience.ProjectName</td>
                                </tr>
                                <tr>
                                    <td>Externe rol</td>
                                    <td>@workExperience.Role.Name</td>
                                </tr>
                                <tr>
                                    <td>Omschrijving</td>
                                    <td style="overflow: hidden !important;">
                                        @workExperience.ProjectDescriptionNl
                                    </td>
                                </tr>
                                <tr>
                                    <td>Competenties</td>
                                    <td>
                                        todo !!!
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="@(true ? $"menu{counter2}":"")" class="tab-pane">
                        <div class="container">
                            <p>Van @workExperience.StartDate.ToString("dd/MM/yyyy") till @(workExperience.EndDate != null ? workExperience.EndDate?.ToString("dd/MM/yyyy") : "Now")</p>
                            <p class="float-right">@workExperience.CompanyName</p>
                            <br />
                            <p class="float-right">Overheid en publieke sector !!!!</p>

                            <table class="table table-striped table-condensed">
                                <tr>
                                    <td>Project</td>
                                    <td>@workExperience.ProjectName</td>
                                </tr>
                                <tr>
                                    <td>Externe rol</td>
                                    <td>@workExperience.Role.Name</td>
                                </tr>
                                <tr>
                                    <td>Omschrijving</td>
                                    <td style="overflow: hidden !important;">
                                        @workExperience.ProjectDescriptionEn
                                    </td>
                                </tr>
                                <tr>
                                    <td>Competenties</td>
                                    <td>
                                        todo !!!
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            counter1--;
            counter2++;
        }
    }
</div>